{{ define "main" }}

<div id="content">

    <div id="contact">Contact</div>

    <div id="contact-content" class="hidden">
      {{ range where .Site.Pages "Section" "contact" }}
        {{ .Params.description }}
      {{ end }}
    </div>

    <div id="about">About</div>

    <div id="about-content" class="hidden">
      {{ range where .Site.Pages "Section" "about" }}
        {{ .Params.description }}
      {{ end }}
    </div>

    <div id="collection" class="scroll-section">
    </div>

</div>

{{ end }}