{{ define "main" }}

  <div id="content">

    <div id="contact">Contact</div>

    <div id="contact-content" class="hidden">
      {{ range where .Site.Pages "Section" "contact" }}
        {{ .Params.description }}
      {{ end }}
    </div>

    <div id="about">About</div>

    <div id="about-content" class="hidden">
      {{ range where .Site.Pages "Section" "about" }}
        {{ .Params.description }}
      {{ end }}
    </div>

    <div id="home" class="scroll-section" data-section-name="index">
      <div class="big-logo">
        <img class="lms-logo" src="img/lms-logo.svg">
      </div>
    </div>

    <div id="collection" class="scroll-section" data-section-name="collection">
      
      <div class="collection-name">
        <img class="lms-mark" src="img/lms-mark.svg">
      </div>
      
      <div class="floaters">
        {{ range first 1 (where .Site.Pages "Section" "collections") }}

          {{ range .Params.floaterImages }}
            <div class='rf'><img src="{{ .fields.file.url }}" width="300px"></div>
          {{ end }}

        {{ end }}
      </div>

      <div class="grid-container">

        <div class="grid-header">
          <div class="grid-title"></div>
          <div class="grid-close">X</div>
        </div>

        <div class="collection-description">
          {{ range first 1 (where .Site.Pages "Section" "collections") }}
            {{ if .Params.description }}
              <p>{{ .Params.description }}</p>
            {{ end }}
          {{ end }}
        </div>        

        {{ range first 1 (where .Site.Pages "Section" "collections") }}
          
            {{ $collection := .Params.title }}

            {{ range where (where .Site.Pages "Section" "pieces") "Params.collectionproject.fields.title" "=" $collection }}

              {{ $description := .Params.description }}
              <div class="collection-section-title">{{ .Params.title }}</div>
              <div class="grid">
                <div class="grid-sizer"></div>
                {{ range first 3 .Params.images }}
                  <div class="grid-item"><a data-fancybox="{{ .Params.title }}-grid" data-caption="{{ $description }}" href="{{ .fields.file.url }}"><img src="{{ .fields.file.url }}"></a></div>
                {{ end }}
                {{ range after 1 .Params.images }}
                  <div class="hidden"><a data-fancybox="{{ .Params.title }}-grid" data-caption="DIFFERENT DESCRIPTION" href="{{ .fields.file.url }}"><img src="{{ .fields.file.url }}"></a></div>
                {{ end }}
              </div>
              
            {{ end }}
          
        {{ end }}

      </div>

      

      <div class="description">
      </div>

    </div>

    <div id="archive" class="scroll-section" data-section-name="archive">
      
      <div id="lists">
        <div id="collections-list">
          Collections
          <ul>
            {{ range after 1 (where .Site.Pages "Section" "collections") }}
              <li><a href="collections/{{ .Params.title | urlize }}">{{ .Params.title }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div id="projects-list">
          Projects
          <ul>
            {{ range where .Site.Pages "Section" "projects" }}
              <li><a href="projects/{{ .Params.title | urlize }}">{{ .Params.title }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>

    </div>

  </div>

{{ end }}