{{ define "main" }}

  {{ $collection := .Params.title }}
  {{ $maincoll := newScratch }}
  {{ range first 1 (where .Site.Pages "Section" "collections").ByDate.Reverse }}
    {{ $maincoll.Set "title" .Params.title }}
  {{ end }}

  {{ if eq $collection ($maincoll.Get "title") }}
    <div id="lesser-logo"><a href="../../#collection"><img class="side-logo" src="{{ .Site.Params.lessersvg | absURL }}"></a></div>
    <div id="miracle-logo"><a href="../../#collection"><img class="side-logo" src="{{ .Site.Params.miraclesvg | absURL }}"></a></div>
  {{ else }}
    <div id="lesser-logo"><a href="../../#archive"><img class="side-logo" src="{{ .Site.Params.lessersvg | absURL }}"></a></div>
    <div id="miracle-logo"><a href="../../#archive"><img class="side-logo" src="{{ .Site.Params.miraclesvg | absURL }}"></a></div>
  {{ end }}

  <div class="grid-container">

    <div class="collection-title">
      {{ if .Params.title }}<p>{{ .Params.title }}</p>{{ end }}
    </div>

    <div class="collection-description">
      {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    </div> 

    <div id="collection-images">
    <div class="grid">
    {{ range where (where .Site.Pages "Section" "pieces") "Params.collectionproject.fields.title" "=" $collection }}

      {{ $description := .Params.description }}
      {{ $title := .Params.title }}
      {{ $slug := .Params.slug }}
      
        {{ range first 1 .Params.images }}
          <div class="grid-item">
            <a data-fancybox="{{ $slug }}-grid" data-caption="{{ $description }}" href="{{ .fields.file.url }}?h=1200&q=90"><img src="{{ .fields.file.url }}?h=500&q=80"></a></div>
        {{ end }}
        {{ range after 1 .Params.images }}
          <div class="grid-item hidden">
            <a data-fancybox="{{ $slug }}-grid" data-caption="{{ $description }}" href="{{ .fields.file.url }}?h=1200&q=90"><img src="{{ .fields.file.url }}?h=500&q=80"></a></div>
        {{ end }}
     
                
    {{ end }}
  </div>
    </div>

  </div>

{{ end }}